#tabsEtiquetas {


  .mat-tab-header {
    color            : #ffffff;
    background-color : #40af29 !important;
  }

  .mat-tab-body {
    padding-top : 30px;
  }

  .mat-tab-label {
    // width: 33.33%;
    min-width        : 0 !important;
    height           : auto !important;
    padding          : 5px;
    background-color : #40af29;
    font-family      : 'Avenir_Next_Regular'!important;
  }

  .mat-tab-label-active {
    background-color : #40af29;
    font-family      : 'Avenir_Next_Demi_Bold',
                       sans-serif !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar {
    left             : 0 !important;
    width            : auto !important;
    height           : 3px !important;
    background-color : #85db60 !important;
  }

  .mat-tab-label .mat-tab-label-content {
    color     : #ffffff;
    font-size : 0.9em !important;
  }

  .mat-ink-bar {
    // left: 0 !important;
    // min-width: unset !important;
    // width: auto !important;
    height           : 3px !important;
    background-color : #85db60 !important;
  }
}
.mat-tab-group {
  margin-top : 0 !important;
}
