<div class="header">
  <div class="headerLogo">
    <a href="index.html">
      <img src="assets/img/icons/logo.svg" id="imgLogo">
    </a>
  </div>
  <div>
    Este es <span class="tVerde">tu cotizador </span>de productos
  </div>
  <div class="headerUser">
    <div class="userSaludo">
      <b>¡Buenos días, Juan!</b>
    </div>
    <div class="userPic"></div>
  </div>
</div>
<div class="header2">
  <button mat-button (click)="sidenav.toggle()" class="btnMenu"><img src="assets/img/icons/menu.svg"></button>
  <div class="rutas">
    <div class="inicio" [routerLink]="['/']" (click)="validaRuta(0)">Inicio</div>
    <img src="assets/img/icons/chevron_left.svg" *ngIf="rutaActivada">
    <div class="posicion">{{rutaPosicion}}</div>
  </div>
</div>
<mat-sidenav-container class="example-container" (backdropClick)="close()">
  <mat-sidenav #sidenav mode="over" (keydown.escape)="close()">
    <div class="menuPrincipal">
      <button mat-button (click)="close()" class="menuOpcion" [routerLink]="['/']" (click)="validaRuta($event)">Presupuesto</button>
      <button mat-button (click)="close()" class="menuOpcion" [routerLink]="['/surtimiento']" (click)="validaRuta($event)">Surtimiento</button>
      <button mat-button (click)="close()" class="menuOpcion" [routerLink]="['/ticketsAbarrotes']" (click)="validaRuta($event)">Ticket de abarrotes</button>
      <button mat-button (click)="close()" class="menuOpcion" [routerLink]="['/cancelacionDespuesEntrega']" (click)="validaRuta($event)">Cancelación después de entrega</button>
      <mat-divider></mat-divider>
      <button mat-button (click)="close()" class="menuOpcion" [routerLink]="['/etiquetado']" (click)="validaRuta($event)">Etiquetado</button>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
