<div class="contSecc">
    <div class="">
        <div class="admnCont">
            <div class="blanco divBuscador" *ngIf="busquedaCancelacion">
                <div class="divBloque1">
                    <h1><span class="bold">Cancelación</span> después de entrega</h1>
                    <div class="copy">Busca a tu cliente por nombre, RFC o cliente único</div>
                    <mat-tab-group >
                        <mat-tab label="Nombre">
                            <div class="divCol divFormularioTicket">
                                <div class="col12">
                                    <div class="inputLabel  labelNombre">Nombre(s):</div>
                                    <input type="text" id="tags" class="inputBuscar">
                                </div>
                                <div class="col6">
                                    <div class="inputLabel  labelNombre">Apellido paterno:</div>
                                    <input type="text" id="tags" class="inputBuscar">
                                </div>
                                <div class="col6">
                                    <div class="inputLabel  labelNombre">Apellido materno:</div>
                                    <input type="text" id="tags" class="inputBuscar">
                                </div>
                                <div class="col12">
                                    <div class="inputLabel labelNombre">Fecha de nacimiento:</div>
                                    <input type="text" id="tags" class="inputBuscar">
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="RFC">
                            <div class="inputBuscador">
                                <div class="inputLabel labelNombre">RFC:</div>
                                <div class="autocomplete ui-widget" style="width: 100%;">
                                    <input type="text"  class="inputBuscar">
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Cliente único">
                            <div class="inputBuscador">
                                <div class="inputLabel labelNombre">Número de Cliente único:</div>
                                <div class="autocomplete ui-widget" style="width: 100%;">
                                    <input type="number" id="tags" class="inputBuscar">
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <div class="btnVerde">
                        <button mat-button class="btnPrimario btnBuscarCliente" (click)= showResultados()>Buscar cliente</button>
                    </div>
                </div>
            </div>
            <div class="divBloque2" *ngIf="resultadosCancelacion">
                <h1>¿Cuál de ellos es tu cliente?</h1>
                <a class="divClientes" (click)=showDetallesCliente()>
                    <div class="divCliente">
                        <div class="fotoCliente">
                            <img src="assets/img/userCliente.svg" alt="imgcliente">
                        </div>
                        <div class="divInfoCliente">
                            <div class="nombre">Juan Alberto Venegas López</div>
                            <div class="infoGeneral">
                                <span>Cliente único:</span>  0101-0113-8197-2467
                            </div>
                        </div>
                        <div class="divCDP">
                            <span class="bold textoVerde">CDP</span><br>
                            <span class="bold" style="color: #000000;">$385</span>
                        </div>
                    </div>
                </a>
                <a class="divClientes">
                    <div class="divCliente">
                        <div class="fotoCliente">
                            <img src="assets/img/userCliente.svg" alt="imgcliente">
                        </div>
                        <div class="divInfoCliente">
                            <div class="nombre">Aldo Ramiro Cruz Manzanares Lara</div>
                            <div class="infoGeneral">
                                <span>Cliente único:</span>  0101-0113-8197-2467
                            </div>
                        </div>
                        <div class="divCDP">
                            <span class="bold textoVerde">CDP</span><br>
                            <span class="bold" style="color: #000000;">$325</span>
                        </div>
                    </div>
                </a>
                <a class="divClientes">
                    <div class="divCliente">
                        <div class="fotoCliente">
                            <img src="assets/img/userCliente.svg" alt="imgcliente">
                        </div>
                        <div class="divInfoCliente">
                            <div class="nombre">Alberto Gamboa Ruíz</div>
                            <div class="infoGeneral">
                                <span>Cliente único:</span>  0101-0113-8197-2467
                            </div>
                        </div>
                        <div class="divCDP">
                            <span class="bold textoVerde">CDP</span><br>
                            <span class="bold" style="color: #000000;">$100</span>
                        </div>
                    </div>
                </a>
                <div class="linkVerde">
                    <a class="textoVerde btnNuevaBusqueda" (click)=volverBuscar()>Volver a buscar</a>
                </div>
            </div>
        </div>


        <div class="informacionCliente" *ngIf="detallesClienteCancelacion">
            <div class="dw40 ml20">

                    <div class="cotizador">
                        <div class="blanco cardUsuario">
                            <div class="nombreUsuario">
                                <div>
                                    <div class="userPic"></div>
                                </div>
                                <div>
                                    <h2 class="demiBold">Juan Alberto</h2>
                                    <h3>Toledo Tello</h3>
                                </div>
                            </div> 
                            <div class="datosCliente">
                                <table class="tblGeneral tablaDatosCliente">
                                     <tbody>
                                        <tr>
                                            <td>Cliente único</td>
                                            <td class="demiBold txtColorGris">1001-1322-0012</td>
                                        </tr>
                                        <tr>
                                            <td>Capacidad de pago</td>
                                            <td class="demiBold txtColorGris">$350</td>
                                        </tr>
                                        <tr>
                                            <td>Capacidad de pago disponible</td>
                                            <td class="demiBold">$320</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="direccionCliente">Dirección</div>
                            <div class="demiBold direccionInfo">
                                Cuauhtémoc 10-3, Col. Barrio La Lonja. CP 14268
                                Delegación Tlalpan, CDMX
                            </div>
                            <div class="linkVerde">
                                <a href="" class="textoVerde btnNuevaBusqueda">Buscar otro cliente</a>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="dw60">
                <div class="blanco cardUsuario">
                    <div class="col7">

                        <div class="tb_head">
                            <div class="cll_header">
                                <div class="num_grande">1</div>
                            </div>
                            <div class="cll_header">
                                Selecciona uno de los pedidos más recientes,<br>
                                también puedes utilizar el filtro por número de pedido
                            </div>
                        </div>

                        <div class="cont_buscador">
                            <div class="tb_buscador">
                                <div class="cll_buscador">
                                    <div class="titulo_buscador">Número de pedido</div>
                                    <input class="inputBuscar nw_buscador" type="text" placeholder="Ingresa número de pedido">
                                </div>
                                <div class="cll_buscador">
                                    <button class="bn_buscador">
                                        <img src="assets/img/icons/search.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="scroll">
                            <table class="tblGeneral tablaProductos">
                                <thead> 
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Pedido</th>
                                        <th>Descripción</th>
                                        <th>Fecha y hora</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                    <tr *ngFor="let producto of productos">
                                        <td>
                                            <mat-radio-button value="1" name="validar"></mat-radio-button>
                                         
                                        </td>
                                        <td>{{producto.pedido}}</td>
                                        <td>{{producto.descripcion}}</td>
                                        <td>{{producto.fhora}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tblResultados"><span>Mostrando los 10 pedidos recientes</span></div>
                        <div class="clear"></div>
                        <div class="btnVerde">
                            <button (click)="filtrar_dato()"   mat-button class="btnPrimario btnContinuar ">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="verificacionCliente" *ngIf="verificacionCliente">
            <div class="dw40 ml20">
                 <div class="cotizador">
                        <div class="blanco cardUsuario">
                            <div class="nombreUsuario">
                                <div>
                                    <div class="userPic"></div>
                                </div>
                                <div>
                                    <h2 class="demiBold">Juan Alberto</h2>
                                    <h3>Toledo Tello</h3>
                                </div>
                            </div> 
                            <div class="datosCliente">
                                <table class="tblGeneral tablaDatosCliente">
                                     <tbody>
                                        <tr>
                                            <td>Cliente único</td>
                                            <td class="demiBold txtColorGris">1001-1322-0012</td>
                                        </tr>
                                        <tr>
                                            <td>Capacidad de pago</td>
                                            <td class="demiBold txtColorGris">$350</td>
                                        </tr>
                                        <tr>
                                            <td>Capacidad de pago disponible</td>
                                            <td class="demiBold">$320</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="direccionCliente">Dirección</div>
                            <div class="demiBold direccionInfo">
                                Cuauhtémoc 10-3, Col. Barrio La Lonja. CP 14268
                                Delegación Tlalpan, CDMX
                            </div>
                            <div class="linkVerde">
                                <a href="" class="textoVerde btnNuevaBusqueda">Buscar otro cliente</a>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="dw60">
                <div class="blanco cardUsuario">
                    <div class="col7">

                        <div class="tb_head">
                            <div class="cll_header">
                                <div class="num_grande">2</div>
                            </div>
                            <div class="cll_header">
                                Verifica el detalle del pedido, selecciona el motivo de <br>
                               Cancelación y escribe las observaciones correspondientes
                            </div>
                        </div>

                        <div class="verificacion_detalles">
                            Verifica el detalle del pedido 83990286
                        </div>

                        <div class="scroll">
                            <table class="tblGeneral tablaProductos">
                                <thead> 
                                    <tr>
                                        <th>Número de artículos</th>
                                        <th>Descripción de artículos</th>
                                        <th>Fecha y hora</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                    <tr *ngFor="let articulo of articulos">
                                        <td>{{articulo.articulo}}</td>
                                        <td>{{articulo.descripcion}}</td>
                                        <td>{{articulo.fhora}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    
                        <div class="clear"></div>


                        <div class="aw50 ml30">
                            <div class="tn_seccion">
                                Selecciona el motivo de cancelación
                            </div>
                            <div class="sbn_seccion">
                                Motivo de cancelación
                            </div>

                            <mat-select class="select" [(value)]="selected">
                                <mat-option value="option1">Selecciona un motivo de cancelación</mat-option>
                                <mat-option value="option2">030 - Mejor precio con la competencia</mat-option>
                                <mat-option value="option3">034 - No le gusta</mat-option>
                                <mat-option value="option4">043 - No funciona</mat-option>
                                <mat-option value="option5">230 - Cancelación de Tarjeta Azteca</mat-option>
                                <mat-option value="option6">300 - Falta de servicio del proveedor</mat-option>
                            </mat-select>

                            <div class="btnVerde">
                                <button mat-button class=" btnPrimario btnSecundario  b_bottom btnContinuar">Regresar</button>
                            </div>

                        </div>


                        <div class="aw50">
                            <div class="tn_seccion">
                               Escribe las observaciones correspondientes
                            </div>
                            <div class="sbn_seccion">
                                observaciones
                            </div>
                            <textarea class="observaciones" placeholder="Escríbe tus observaciones"></textarea>

                            <div class="btnVerde">
                                <button mat-button class="btnPrimario  b_bottom lf0 btnContinuar">Finalizar</button>
                            </div>
                        </div>



                        
                      
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>









    </div>
</div>