<div class="contSecc p20">
  <div class="blanco ">

    <div class="tCenter">
      <h1><b>Etiquetado</b></h1>
    </div>

    <div class="flex">
      <div class="w50 p20">
        <div class="">
          <span class="tVerde">1</span>
          <span>Busca los artículos a etiquetar</span>
        </div>
          <mat-tab-group class="tabsEtiquetas"(selectedTabChange)="tabChanged($event)">
            <mat-tab label="Nombre">

            </mat-tab>
            <mat-tab label="RFC">

            </mat-tab>
            <mat-tab label="Cliente único">

            </mat-tab>
            <mat-tab label="Código genérico">

            </mat-tab>
        </mat-tab-group>
      </div>

      <div class="sepVer"></div>

      <div class="w50 p20">
        <div class="">
          <span class="tVerde">2</span>
          <span>Selecciona y añade los artículos para etiquetar</span>
        </div>
      </div>

    </div>

  </div>

</div>
