<!-- <div class="contSecc p20">

  <div class="p5">
    <div class="blanco ">
      <div class="tCenter">
        <h1 class="demiBold">Etiquetado</h1>
      </div>
      <div class="flex p10 ">

        <div class="w50 p20 flexCol ">
          <div class="tituloEtiquetas">
            <span class="tVerde">1</span>
            Busca los artículos a etiquetar
          </div>
          <mat-tab-group id="tabsEtiquetas">
            <mat-tab label="Categoria">
              <div class="flex spaceBet">
                <div class="w50 p5">
                  <mat-form-field>
                    <mat-label>Categoria</mat-label>
                    <mat-select>
                      <mat-option>Selecciona una sub-categoría</mat-option>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w50 p5">
                  <mat-form-field>
                    <mat-label>Sub categoria</mat-label>
                    <mat-select>
                      <mat-option>Selecciona una categoría</mat-option>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="SKU">
            </mat-tab>
            <mat-tab label="Descripción">
              <mat-form-field class="w100">
                <mat-label>Descripción de articulo</mat-label>
                <input matInput placeholder="" value="">
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Código genérico">
            </mat-tab>
          </mat-tab-group>

          <div class="btnVerde">
            <button mat-button class="btn btnPrimario btnBuscarCliente w80 " (click)=showResultados()>Buscar</button>
          </div>
        </div>

        <div class="sepVer"></div>

        <div class="w50 p20 flexCol ">
          <div class="tituloEtiquetas">
            <span class="tVerde">2</span>
            Selecciona y añade los artículos para etiquetar
          </div>
          <table class="tblGeneral" ngHide>
            <thead>
              <tr>
                <th></th>
                <th>SKU</th>
                <th class="w40 tLeft">Descripción</th>
                <th>Código</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let articuloEtiqueta of articulosEtiquetas">
                <td><mat-checkbox [id]="articuloEtiqueta.id"></mat-checkbox></td>
                <td>{{articuloEtiqueta.sku}}</td>
                <td>{{articuloEtiqueta.descripcion}}</td>
                <td>{{articuloEtiqueta.codigo}}</td>
                <td>{{articuloEtiqueta.precio}}</td>
              </tr>

            </tbody>
          </table>
          <div class="flex flexCenter" >
            <div class="tGris p20" style="font-size: 2em"><b>Sin resultados</b></div>
          </div>
          <div class="">
            <button mat-button class="btn btnSecundario  w80" (click)=showResultados()>Añadir</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="p5">
    <div class="blanco ">
      <div class="flex p10 ">

        <div class="w60 p20 flexCol ">
          <div class="tituloEtiquetas">
            <span class="tVerde">3</span>
            Verifica tus artículos añadidos
          </div>
          <table class="tblGeneral">
            <thead>
              <tr>
                <th class="w5">&nbsp;</th>
                <th>SKU</th>
                <th class="w40 tLeft">Descripción</th>
                <th>Código</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let articuloEtiqueta of articulosEtiquetas">
                <td><mat-checkbox [id]="articuloEtiqueta.id"></mat-checkbox></td>
                <td>{{articuloEtiqueta.sku}}</td>
                <td>{{articuloEtiqueta.descripcion}}</td>
                <td>{{articuloEtiqueta.codigo}}</td>
                <td>{{articuloEtiqueta.precio}}</td>
              </tr>
            </tbody>
          </table>
          <div class="flex flexCenter">
            <div class="tGris p20" style="font-size: 2em"><b>Sin articulos añadidos</b></div>
          </div>

        </div>

        <div class="sepVer"></div>

        <div class="w40 p20 flexCol ">
          <div class="tituloEtiquetas">
            <span class="tVerde">4</span>
            Selecciona el tamaño del etiquetado
          </div>

          <div class="flex justifyC p20">

            <mat-radio-group aria-label="mat-select an option" class="flexCol">
              <mat-radio-button class="p10"  value="1">Carta</mat-radio-button>
              <mat-radio-button class="p10" value="2">1/2 Carta</mat-radio-button>
              <mat-radio-button class="p10"  value="3">1/4 Carta</mat-radio-button>
            </mat-radio-group>

          </div>

          <div class="">
            <button mat-button class="btn btnPrimario  w80" (click)=showResultados()>Buscar cliente</button>
          </div>
        </div>

      </div>
    </div>
  </div>



</div> -->
