.flex{ display: flex;}
.flexCol {display: flex; flex-direction: column;}
.flexWrap{ display: flex; flex-wrap: wrap;}
.alignC {align-items: center;}
.justifyC {justify-content: center;}
.justifyEnd {justify-content: flex-end;}
.spaceBet {justify-content: space-between !important;}

.h100 {height: 100% !important;}

.w5{width: 5%; box-sizing: border-box;}
.w10{width: 10%; box-sizing: border-box;}
.w15{width: 15%; box-sizing: border-box;}
.w20{width: 20%; box-sizing: border-box;}
.w25{width: 25%; box-sizing: border-box;}
.w30{width: 30%; box-sizing: border-box;}
.w33{width: 33.33; box-sizing: border-box !important;}
.w35{width: 35%; box-sizing: border-box;}
.w40{width: 40%; box-sizing: border-box;}
.w45{width: 45%; box-sizing: border-box;}
.w50{width: 50%; box-sizing: border-box;}
.w55{width: 55%; box-sizing: border-box;}
.w60{width: 60%; box-sizing: border-box;}
.w66{width: 66.66%; box-sizing: border-box;}
.w65{width: 65%; box-sizing: border-box;}
.w70{width: 70%; box-sizing: border-box;}
.w75{width: 75%; box-sizing: border-box;}
.w80{width: 80%; box-sizing: border-box;}
.w85{width: 85%; box-sizing: border-box;}
.w90{width: 90%; box-sizing: border-box;}
.w95{width: 95%; box-sizing: border-box;}
.w100{width: 100%; box-sizing: border-box;}

.p5{padding:5px; box-sizing: border-box;}
.p10{padding:10px; box-sizing: border-box;}
.p15{padding:15px; box-sizing: border-box;}
.p20{padding:20px; box-sizing: border-box;}
.p25{padding:25px; box-sizing: border-box;}

.tCenter{text-align: center}
.tLeft{text-align: left}
.tRigh{text-align: right}

.sepVer{border-left: 1px solid #555555;};
.sepHor{border-top: 1px solid #555555;};

.mCenter { margin: 0 auto;}

//Estilos que deberian ser generales
// TABS
.tabsEtiquetas {
  .mat-tab-group {
    margin-top: 20px;
  }

  .mat-tab-header {
    background-color: red !important;
    color: #ffffff;
  }

  .mat-tab-body {
    padding-top: 30px;
  }

  .mat-tab-label {
    // width: 33.33%;
    background-color: red;
  }

  .mat-tab-label-active {
    background-color: red;
  }

  .mat-tab-group.mat-primary .mat-ink-bar {
    left: 0 !important;
    width: 33.33% !important;
    background-color: #85db60 !important;
    height: 3px !important;
  }

  .mat-tab-label .mat-tab-label-content {
    color: #ffffff;
  }
}

.blanco {
  background-color: #ffffff;
  box-shadow: 0 3px 4px -1px #a8a6a8;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
}

//Etiquetado
