<div class="contSecc">
    <div class="contCotizador">
        <div class="cotizador">
            <div class="blanco cardUsuario">
                <div class="nombreUsuario">
                    <div>
                        <div class="userPic"></div>
                    </div>
                    <div>
                        <h2 class="demiBold">Juan Alberto</h2>
                        <h3>Toledo Tello</h3>
                    </div>
                </div> 
                <div class="datosCliente">
                    <table class="tblGeneral tablaDatosCliente">
                         <tbody>
                            <tr>
                                <td>Cliente único</td>
                                <td class="demiBold txtColorGris">1001-1322-0012</td>
                            </tr>
                            <tr>
                                <td>Capacidad de pago</td>
                                <td class="demiBold txtColorGris">$350</td>
                            </tr>
                            <tr>
                                <td>Capacidad de pago disponible</td>
                                <td class="demiBold">$320</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="direccionCliente">Dirección</div>
                <div class="demiBold direccionInfo">
                    Cuauhtémoc 10-3, Col. Barrio La Lonja. CP 14268
                    Delegación Tlalpan, CDMX
                </div>
                <div class="linkVerde">
                    <a href="" class="textoVerde btnNuevaBusqueda">Buscar otro cliente</a>
                </div>
            </div>
            <div class="contBusquedaFiltro">
                <div>
                    <div class="inputLabel">Ingresa una descripción o el SKU de un producto:</div>
                    <input type="text" class="inputBuscar" (keypress)="buscar($event)">
                </div>
                <div *ngIf="ocultar">
                    <div  class="contSlider">
                        <div class="labelSlider">(Opcional) Rango de precio</div>
                        <div class="range-control range">
                            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                            <div class="txtMin">Min.</div>
                            <div class="txtMax">Max.</div>
                        </div>
                    </div>
                    <div class="scroll">
                        <table class="tblGeneral tablaProductos">
                            <thead> 
                                <tr>
                                    <th>SKU</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                             <tbody>
                                <tr (click)="agregarProducto(producto)" *ngFor="let producto of productos">
                                    <td>{{producto.sku}}</td>
                                    <td>{{producto.descripcion}}</td>
                                    <td>{{producto.precio}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tblResultados"><span>200 resultados</span></div>
                </div>
            </div>
        </div>
        <div *ngIf="ocultar2" class="contProductos">
            <table class="tblGeneral">
                <thead> 
                    <tr>
                        <th>SKU</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th></th> 
                    </tr>
                </thead>
                 <tbody>
                    <tr *ngFor="let producto of elementosAgregados">
                        <td>{{producto.sku}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td><img src="assets/img/icons/delete.svg" alt="Eliminar" (click)="eliminarFila(producto)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="ocultar2" class="contenedorServicios">
            <div>
                <div class="labelSelect">¿A qué plazo?</div>
                <mat-select class="select" [(value)]="selected">
                    <mat-option value="option1">Elige un plazo</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                    <mat-option value="option4">Option 4</mat-option>
                    <mat-option value="option5">Option 5</mat-option>
                    <mat-option value="option6">Option 6</mat-option>
                </mat-select>
            </div>
            <div>
                <table class="tblGeneral tablaAbonos">
                    <thead> 
                        <tr>
                            <th>Abono puntual</th>
                            <th>Abono semanal</th>
                            <th>Ùltimo pago</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr>
                            <td>$300</td>
                            <td>$320</td>
                            <td>$290</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="contSliderToggle">
                <mat-slide-toggle class="sliderToggle"><span class="demiBold">Seguro de vida</span> <br> $15 semanales</mat-slide-toggle>
            </div>
            <div class="contEnganche">
                <div class="labelSelect">¿El cliente deja enganche?</div>
                <div>
                    <div><input type="text" class="inputBuscar" placeholder="Enganche"></div>
                    <div><input type="text" class="inputBuscar" placeholder="%"></div>
                </div>
            </div>
        </div>
        <div *ngIf="ocultar2" class="btnRight">
            <button mat-button class="btn btnLink">Guardar</button>
            <button mat-button class="btn btnIcono"><img src="assets/img/icons/imprimirIco.svg" alt=""></button>
            <button mat-button class="btn btnPrimario">Generar cotización</button>
        </div>
    </div>
</div>