<div class="contSecc">
    <div class="contCotizador">
        <div class="cotizador">
            <div class="blanco cardUsuario">
                <div class="nombreUsuario">
                    <div>
                        <div class="userPic"></div>
                    </div>
                    <div>
                        <h2 class="demiBold">Juan Alberto</h2>
                        <h3>Toledo Tello</h3>
                    </div>
                </div> 
                <div class="datosCliente">
                    <table class="tblGeneral tablaDatosCliente">
                         <tbody>
                            <tr>
                                <td>Cliente único</td>
                                <td class="demiBold txtColorGris">1001-1322-0012</td>
                            </tr>
                            <tr>
                                <td>Capacidad de pago</td>
                                <td class="demiBold txtColorGris">$350</td>
                            </tr>
                            <tr>
                                <td>Capacidad de pago disponible</td>
                                <td class="demiBold">$320</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="direccionCliente">Dirección</div>
                <div class="demiBold direccionInfo">
                    Cuauhtémoc 10-3, Col. Barrio La Lonja. CP 14268
                    Delegación Tlalpan, CDMX
                </div>
                <div class="linkVerde">
                    <a href="" class="textoVerde btnNuevaBusqueda">Buscar otro cliente</a>
                </div>
            </div>
            <div class="contBusquedaFiltro">
                
            </div>
        </div>
        <div class="contProductos">
            <table class="tblGeneral">
                <thead> 
                    <tr>
                        <th>SKU</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                 <tbody>
                    <tr>
                        <td>710349588</td>
                        <td>M00A3001 / MUEBLE QUALLY GRUPO</td>
                        <td>$11,299</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>705892</td>
                        <td>Seguro Vidamax</td>
                        <td>$800</td>
                        <td>X</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>